* {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Todo в верстке мы почти всегда используем прием с контейнером,
     нужно сделать верстку используя понятие контейнера
     Подробнее можно прочитать тут
      https://habr.com/ru/companies/ruvds/articles/509194/ */

.header-top {
  /* Todo очень большие отступы, так делать не надо */
  padding: 0 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  /* Todo очень большие отступы, так делать не надо */
  max-width: 1920px;
  /* Todo фиксированная высота для контейнеров с элементами, очень плохо, так как если у тебя добавится кол-во элементов, то верстка просто будет вести себя не предсказуемо, так как ей нужно больше места,  аты ее ограничил в 72px */
  height: 72px;
  /* gap: 30px; */
}

.plane {
  width: 16px;
  height: 16px;
  border: 1.5px 0px 0px 0px;
}
/* Todo базовый класс должен отделятся от всего остального с помощью __ прочитать можно тут
     https://ru.bem.info/methodology/quick-start/#%D0%B2%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D1%8C-1 */
.header-top-logos {
  width: 360px;
  height: 24px;
  gap: 32px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
/* Todo переделать все вложенности класа как описал выше, ниже писать не буду, тобы не повторяться */
.header-top-city-name {
  font-family: Commissioner;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.header-top-city {
  display: flex;
  text-align: flex-end;
  gap: 8px;
  font-size: 14px;
  line-height: 16px;
  /* Todo использования шрифта вижу, но не вижу подключение в css и вообще его наличия в файлах,
       также нужно всегда указывать несколько шрифтов, минимум один стандартный,
        если вдруг кастомный не загрузился или не подключен */
  font-family: "Commissioner";
  color: #fff;
  text-align: center;
  margin-left: 50px;
}

.header-top-phone {
  width: 196px;
  height: 38px;
  /* Todo если пишем 0, единицы измерения не пишем, дальше писать не буду, чтобы не повторяться */
  gap: 0px;
  opacity: 0px;
}

.header-top-phone-number {
  order: 1;
}

.header-top-phone-text {
  order: 2;
}

.phone {
  width: 16px;
  height: 16px;
  border: 1.5px 0px 0px 0px;
}

.header-top-phone-number {
  width: 196px;
  height: 20px;
  font-family: "Commissioner";
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  color: #6495ed;
}

.header-top-phone-text {
  font-family: "Commissioner";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.header-top-widget {
  display: flex;
  text-align: center;
  /* padding: 8px; */
  width: 473px;
  height: 34px;
  gap: 16px;
  opacity: 0px;
}

.header-top-widget-first {
  display: flex;
  text-align: center;
  width: 112px;
  height: 34px;
  padding: 8px 0px 0px 0px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

.header-top-widget-first-text {
  font-family: "Commissioner";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  color: #808080;
}

.header-top-widget-second {
  display: flex;
  width: 113px;
  height: 34px;
  padding: 8px 0px 0px 0px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
}

.header-top-widget-second-text {
  font-family: "Commissioner";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  color: #808080;
  width: 72px;
  height: 18px;
}

.header-top-widget-third {
  position: relative;
  display: flex;
  width: 119px;
  height: 34px;
  padding: 0px 0px 0px 0px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

.header-top-widget-third-text {
  font-family: "Commissioner";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  color: #fff;
  width: 79px;
  height: 18px;
  gap: 0px;
  opacity: 0px;
}

.header-top-widget-fourth {
  display: flex;
  text-align: center;
  width: 81px;
  height: 34px;
  padding: 8px 0px 0px 0px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

.header-top-widget-fourth-text {
  font-family: "Commissioner";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  color: #808080;
  width: 41px;
  height: 18px;
}

/* Todo очень не говорящие классы */
.first {
  width: 10px;
  height: 16px;
  border: 1.5px 0px 0px 0px;
}

/* Todo очень не говорящие классы */
.second {
  width: 16px;
  height: 14px;
  border: 1.5px 0px 0px 0px;
}

/* Todo очень не говорящие классы */
.third {
  width: 16px;
  height: 16px;
  gap: 10px;
}

/* Todo очень не говорящие классы */
.fourth {
  width: 16px;
  height: 16px;
  border: 1.5px 0px 0px 0px;
}

.header-top-widget-third-circle {
  background-color: #6495ed;
  width: 14px;
  height: 14px;
  padding: 2px 0px 0px 0px;
  gap: 10px;
  border-radius: 50%;
  font-family: "Commissioner";
  font-size: 9px;
  font-weight: 500;
  line-height: 11.01px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Todo что такое Fill и Fixed? */
.header-bottom {
  width: Fill (1, 920px) px;
  height: Fixed (48px) px;
  gap: 8px;
  border: 1px 0px 1px 0px;
  opacity: 0px;

  display: flex;
  justify-content: space-between;
  padding: 0 320px;
}

.header-bottom-left {
  display: flex;
  margin: 8px 0;
  width: 697px;
  height: 30px;
  gap: 60px;
}

/* Todo что такое Hug? */
.header-bottom-left-buy {
  display: flex;
  width: Hug (167px) px;
  height: Hug (30px) px;
  padding: 4px 0px 4px 0px;
  gap: 4px;
  opacity: 0px;
}

.header-bottom-left-buy-text {
  width: 147px;
  height: 22px;
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #808080;
}

.header-bottom-left-cell {
  display: flex;
  width: Hug (179px) px;
  height: Hug (30px) px;
  padding: 4px 0px 4px 0px;
  gap: 4px;
  opacity: 0px;
}

.header-bottom-left-cell-text {
  width: 159px;
  height: 22px;
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #808080;
  text-align: left;
}

.header-bottom-left-service {
  display: flex;
  width: Hug (75px) px;
  height: Hug (30px) px;
  padding: 4px 0px 4px 0px;
  gap: 4px;
  opacity: 0px;
}

.header-bottom-left-service-text {
  width: 55px;
  height: 22px;
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #808080;
}

.header-bottom-left-company {
  display: flex;
  width: Hug (96px) px;
  height: Hug (30px) px;
  padding: 4px 0px 4px 0px;
  gap: 4px;
  opacity: 0px;
}

.header-bottom-left-company-text {
  width: 76px;
  height: 22px;
  gap: 0px;
  color: #808080;
  opacity: 0px;

  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.header-bottom img {
  width: 16px;
  height: 16px;
  gap: 10px;
  padding: 5px 0 0 0;
}

/* Todo интересный класс */
.zalupa {
  width: 16px;
  height: 16px;
  gap: 0px;
  padding: 8px 8px 8px 16px;
  border: 1.5px 0px 0px 0px;
  opacity: 0px;
  position: absolute;
}

.header-bottom-right {
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.search {
  margin: 8px 0;
  width: 260px;
  height: 32px;
  padding: 13px 16px 13px 16px;
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  border: 1px solid #eeeeee;
  text-align: left;
  font-family: "Commissioner";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  position: relative;
  color: #808080;
}

.search::before {
  content: url("images/Vector (4).png");
  margin-right: 5px;
}

/* Todo кажется очень мешает адаптиву */
.f {
  width: 1920px;
  height: 400px;
}

.footer-top {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  /* height: 256px; */
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  padding: 24px 320px;
}

.footer-top-firstblock {
  /* Todo а если информации будет больше или меньше? точно ли фиксированные величины помогают? */
  width: 296px;
  height: 208px;
  gap: 30px;
}

.footer-top-firstblock img {
  padding-bottom: 30px;
}

.footer-top-secondblock {
  /* Todo тоже самое что и выше? */
  width: 296px;
  height: 144px;
  gap: 16px;
  opacity: 0px;
}

.footer-top-thirdblock {
  width: 296px;
  height: 84px;
  gap: 21px;
  opacity: 0px;
}

/* Todo пустые классы мы удаляем */
.footer-top-fourthblock {
}

.footer-top-firstblock-contact-phonenumber {
  width: 296px;
  height: 20px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #fff;
  padding-bottom: 16px;
}

.footer-top-firstblock-contact-button {
  padding-bottom: 30px;
}

.footer-button {
  width: 296px;
  height: 44px;
  padding: 10px 24px 10px 24px;
  gap: 10px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #808080;
  background-color: #333333;
  color: #808080;
  text-align: center;
}

.footer-button img {
  width: 16px;
  height: 16px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
}

.footer-top-firstblock-textinfo {
  width: 296px;
  height: 44px;
  gap: 0px;
  opacity: 0px;
  /* Todo использования шрифта вижу, но не вижу подключение в css и вообще его наличия в файлах */
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #fff;
}

.footer-top-secondblock {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 296px;
  height: 144px;
  gap: 16px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}

.footer-top-secondblock a {
  color: #fff;
}

.footer-top-secondblock-buy {
}

.footer-top-secondblock-cell {
}

.footer-top-secondblock-service {
  color: #6495ed;
}
.footer-top-secondblock-company {
}

.footer-top-thirdblock {
  width: 296px;
  height: 84px;
  gap: 21px;
  opacity: 0px;
}

.footer-top-thirdblock-text {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  color: #fff;
  padding-bottom: 21px;
}

.footer-top-thirdblock-icons {
  display: flex;
  width: 296px;
  height: 44px;
  gap: 16px;
  text-align: center;
}

.footer-top-fourthblock {
  width: 296px;
  height: 155px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}

.footer-top-fourthblock-text {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  color: #fff;
}

.footer-top-fourthblock-input {
  width: Fill (296px) px;
  height: Fixed (40px) px;
  padding: 10px 8px 10px 8px;
  gap: 16px;
  border-radius: 4px 4px 4px 4px;
  opacity: 0px;

  background-color: #fff;
}

.footer-input {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  /* width: 128px;
  height: 19px; */
  border: none;
}

/* Todo этот брат класс с другим интересным классом выше? */
.lupa {
  padding-right: 16px;
}

.footer-top-fourthblock-checkbox {
  width: 296px;
  height: 24px;
  gap: 4px;
  opacity: 0px;
}

.footer-top-fourthblock-checkbox label {
  font-family: "Exo 2";
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
  color: #fff;
}

.footer-top-fourthblock-checkbox label a {
  font-family: "Exo 2";
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
  color: #6495ed;
}

.subscribe {
  width: 296px;
  height: 40px;
  padding: 10px 24px 10px 24px;
  gap: 10px;
  border-radius: 8px 8px 8px 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #fff;
  border-color: #fff;
  background-color: #333333;
}

#checkbox {
  transform: scale(1.231);
}

/* Todo а если эту иконку уберем, отступ потеряется? а если поменяем их местами? */
.vk {
  padding-left: 36px;
}

.footer-bottom-text {
  background-color: #6495ed;
  color: #fff;
  /* Todo кажется что отсутпы в 100+ пикселей даже большие, а в 400 так сверх большие */
  padding: 15px 495px 16px 496px;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}

.footer-bottom {
  /* Todo точно нужна такая большая фиксированная ширина? */
  width: 1920px;
  height: 47px;
  top: 256px;
  gap: 0px;
  opacity: 0px;
}

.footer-button a {
  color: #808080;
}
